# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# obsidian workspace files
*.code-workspace
# Local Obsidian settings
.obsidian/workspace.json
.obsidian/workspace-mobile.json
